modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 8083
externalPort = 3001

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42030632
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bunx --bun vite --port 5000 --host 0.0.0.0"
