/* Import Leaflet CSS */
@import 'leaflet/dist/leaflet.css';

/* Custom map styles */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0.5rem;
}

.leaflet-popup-tip-container {
  margin-top: -1px;
}
